
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>My Exams</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/myExams.css">

</head>
<body  style="background-color: #424242;">

    <!-- Navbar begins -->
    <nav class="navbar">
      <span class="navbar-toggle" id="js-navbar-toggle">
          <i class="fas fa-bars"></i>
      </span>
      <a href="/student-home/<%= user._id %>" class="logo">Exam Portal</a>
      <ul class="main-nav" style="margin-top: 10px;" id="js-menu">
          <li>
              <a href="/student-home/<%= user._id %>" class="nav-links">Home Page</a>
          </li>
          
          <li>
              <a href="/show-registered-organisations" class="nav-links">Registered Organizations</a>
          </li>
          <li>
            <a href="/logout" class="nav-links">Logout</a>
        </li>

      </ul>
  </nav>

<div class="wrapper">
  <section class="project py-5">
    <div class="container">
        <div class="row my-3">
          <div style="color: #fff;" class="col-10 mx-auto text-center">
              <h1 class='text-uppercase'>Registered Exams</h1>
          </div>
      </div>
      <!-- SIngle card starts -->
    
    <div class="row" style="margin-right: -570px;margin-top: 30px;">
      <% exams.forEach((exam)=>{  %> 
        <div class=" column col-10 col-md-6 col-lg-4 ">
            <div class="card" style="width: 24rem;height:16rem;margin-right:0px;">
                <!-- <img class="card-img-top" src="IMG_6355.jpg" alt="Card image cap"> -->
                 
                <div class="card-body"style="background-color: #e79f39;">
                    <h2 class="card-title" ><%= exam.name %></h2> 
                
                <!-- add duration @parth -->
                <p class ="card-text"><b>Organised by:</b> <%=exam.organizer %></p>
              <p class="card-text"><b>About the exam: </b><%= exam.description %><br><%=exam.duration%> </p>
              <p class ="card-text"><b>Medium: </b><%=exam.medium %></p>
                <div class="input-group col-lg-12 mb-4">
                    <div class="input-group-prepend">
                    </div>
                </div>
                </div>
            </div>
        </div>
    
        <% }) %>
    </div>
        <!-- Single card ends -->

      
</div>
</body>
</html>