
      <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Home</title>

            <link rel="stylesheet" href="/stylesheets/organisationHome.css">
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
            integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
            <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400' rel='stylesheet' type='text/css'>
        </head>
        <body style="background-color: #424242;">
          <nav class="navbar">
            <span class="navbar-toggle" id="js-navbar-toggle">
                <i class="fas fa-bars"></i>
            </span>
            <a href="/organisation-home/<%= user._id %>" class="logo">Exam Portal</a>
            <ul class="main-nav" style="margin-top: 10px;" id="js-menu">

                <li>
                    <a href="/exam/new/<%= user._id %>" class="nav-links">Create an Exam</a>
                </li>
                <li>
                    <a href="/logout" class="nav-links">Logout</a>
                </li>
              
            </ul>
        </nav>
        <div id='container'>
            <div class="row my-3">
                <div style="color: #fff;" class="col-10 mx-auto text-center">
                    <h1 class='text-uppercase' style="font-size: 40px;margin-bottom: 15px;">Exams Organised</h1>
                    
                </div>
            </div>
          <div class='widget'>
            <div id='live' class="tab-content">

              <table class="group-table">

                <thead>
                  <tr>
                    <th>Sr.no</th>
                    <th>Name of Exam</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                    <th>Total duration</th>
                    <th>Registered</th>
                  </tr>
                </thead>
                <tbody>
                    
                <% i=1 %>
                <% array.forEach((element) => { %>
                    <tr style="color: #fff;">
                    <td><%= i %></td>
                    <td><%= element.name %></td>
                    <td><%= element.startTime %></td>
                    <td><%=  element.endTime %></td>
                    <td><%= element.duration %></td>
                    <td><%= element.students_registered.length %></td>
                    </tr>
                <% i++ %>
                <% }) %>         
                </tbody>
              </table>
            </div>
          </div>
        
        </div>
        <!-- End of container -->
        <script>
            $(document).ready(function(){
                var newWidget="<div class='widget-wrapper'> <ul class='tab-wrapper'></ul> <div class='new-widget'></div></div>";
                $(".widget").hide();
                $(".widget:first").before(newWidget);
                $(".widget > div").each(function(){
                    $(".tab-wrapper").append("<li class='tab'>"+this.id+"</li>");
                    $(this).appendTo(".new-widget");
            });
            $(".tab").click(function(){
                $(".new-widget > div").hide();
                $('#'+$(this).text()).show();
                $(".tab").removeClass("active-tab");
                $(this).addClass("active-tab");
            });
            $(".tab:first").click();
        
            $('.navTrigger').click(function () {
            $(this).toggleClass('active');
            console.log("Clicked menu");
            $("#mainListDiv").toggleClass("show_list");
            $("#mainListDiv").fadeIn();
        
        });
        
            });
        </script>
        </body>
        </html>


 
