<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    
    <link rel="stylesheet" type="text/css" href="/stylesheets/studentHome.css"  media="all">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body style="background-color: #424242;">
    <!-- <body style="background-color: linear-gradient(260deg, #3e5151 100%, #decba4 100%);"> -->
     <!-- Navbar begins -->
    <nav class="navbar">
        <span class="navbar-toggle" id="js-navbar-toggle">
            <i class="fas fa-bars"></i>
        </span>
        <a href="/student-home/<%=student._id%>" class="logo">Exam Portal</a>
        <ul class="main-nav" style="margin-top: 10px;font-size: 19px;" id="js-menu">
            <li>
                <a href="/<%=student._id%>/myExams" class="nav-links">Registered Exams</a>
            </li>
            <li>
                <a href="/show-registered-organisations" class="nav-links">Registered Organizations</a>
            </li>
            <li>
                <a href="/logout" class="nav-links">Logout</a>
            </li>
        </ul>
    </nav>
  <!-- Navbar ends -->
    <section class="project py-5">
        <div class="container">
            <div class="row my-3">
                <div style="color: #fff;" class="col-10 mx-auto text-center">
                    <h1 class='text-uppercase'>Home Page</h1>
                    
                </div>
            </div>
            <!--  -->
            <div class="row">
                <!-- single project -->
                <% exams.forEach((exam) => { %>
                    <% if (exam.isPublic){ %>

                <div class="col-10 col-md-6 col-lg-4">
                <ol style="text-align: center;" class="articles">
                    <li class="articles__article" style="--animation-order:1"><a class="articles__link">
                            <div style="text-align: center;" class="articles__content articles__content--lhs">
                                <h2 class="articles__title"><%= exam.name %></h2>
                                <p><%= exam.medium %></p>
                                <!-- <p><%=exam.description%> </p> -->
                                <a href="/exam/<%= exam._id %>/<%= student._id %>" class="btn " style="background-color: #696969;color: #fff;">Read More</a>
                                <div style="text-align: center;" class="articles__footer">
                                   <time style="text-align: center;"><%= exam.date %>  </time>
                                </div>
                            </div>
                            <div style="text-align: center;"class="articles__content articles__content--rhs" aria-hidden="true">
                                <h2 class="articles__title"><%= exam.name %></h2>
                                <p><%= exam.medium %></p>
                                <!-- <p><%=exam.description%> </p> -->
                                <a href="/exam/<%= exam._id %>/<%= student._id %>" class="btn " style="background-color: #696969;color: #fff;">Read More</a>
                                <!-- <div style="text-align: center;"class="articles__footer"> -->
                                   <time style="margin-top: 8px;"><%= exam.date %></time>
                                <!-- </div> -->
                            </div>
                        </a></li>
                        
                    </ol> 
                </div>
                <!-- single project ends -->
                <% } %>
                <% }) %>

                <!-- single project -->
                <% student.organisations.forEach((organisation) => { %>
                    <% organisation.exams_conducted.forEach((exam) => { %>
                        <% if (!exam.isPublic){ %>
                            <div class="col-10 col-md-6 col-lg-4">
                            <ol style="text-align: center;" class="articles">
                                <li class="articles__article" style="--animation-order:1"><a class="articles__link">
                                        <div style="text-align: center;" class="articles__content articles__content--lhs">
                                            <h2 class="articles__title"><%= exam.name %></h2>
                                            <p><%= exam.medium %></p>
                                            <!-- <p><%=exam.description%> </p> -->
                                            <a href="/exam/<%= exam._id %>/<%= student._id %>" class="btn " style="background-color: #747c81;color: #fff;">Read More</a>
                                            <div style="text-align: center;" class="articles__footer">
                                               <time style="text-align: center;"><%= exam.date %>  </time>
                                            </div>
                                        </div>
                                        <div style="text-align: center;"class="articles__content articles__content--rhs" aria-hidden="true">
                                            <h2 class="articles__title"><%= exam.name %></h2>
                                            <p><%= exam.medium %></p>
                                            <!-- <p><%=exam.description%> </p> -->
                                            <a href="/exam/<%= exam._id %>/<%= student._id %>" class="btn " style="background-color: #747c81;color: #fff;">Read More</a>
                                            <!-- <div style="text-align: center;"class="articles__footer"> -->
                                               <time style="margin-top: 8px;"><%= exam.date %></time>
                                            <!-- </div> -->
                                        </div>
                                    </a></li>
                                    
                                </ol> 
                            </div>
                    <!-- single project ends -->
                    <% } %>
                    <% }) %>
                    <% }) %>
            </div>
           
        </div>
    </section>

    
<script>
    let mainNav = document.getElementById('js-menu');
let navBarToggle = document.getElementById('js-navbar-toggle');

navBarToggle.addEventListener('click', function () {
  mainNav.classList.toggle('active');
});

var today = new Date();
var dd = today. getDate();
var mm = today. getMonth()+1; //January is 0 so need to add 1 to make it 1!
var yyyy = today. getFullYear();
if(dd<10){
    dd = ("0" + date_ob.getDate()).slice(-2); 
}
todayDate = yyyy+"-"+mm+"-"+dd;

</script>
      
</body>
</html>