<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    
    <link rel="stylesheet" type="text/css" href="/stylesheets/studentHome.css"  media="all">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body style="background-color: #232f34;">
     <!-- Navbar begins -->
    <nav class="navbar">
        <span class="navbar-toggle" id="js-navbar-toggle">
            <i class="fas fa-bars"></i>
        </span>
        <a href="/student-home/<%=student._id%>" class="logo">Exam Portal</a>
        <ul class="main-nav" style="margin-top: 10px;font-size: 19px;" id="js-menu">
            <li>
                <a href="/<%=student._id%>/myExams" class="nav-links">Registered Exams</a>
            </li>
            <li>
                <a href="/show-registered-organisations" class="nav-links">Registered Organizations</a>
            </li>
            <li>
                <a href="/logout" class="nav-links">Logout</a>
            </li>
        </ul>
    </nav>
  <!-- Navbar ends -->
    <section class="project py-5">
        <div class="container">
            <div class="row my-3">
                <div style="color: #fff;" class="col-10 mx-auto text-center">
                    <h1 class='text-uppercase'>Home Page</h1>
                    
                </div>
            </div>
            <!--  -->
            <div class="row">
                <!-- single project -->
                <% exams.forEach((exam) => { %>
                <% if (exam.isPublic){ %>
                <div class="col-10 col-md-6 col-lg-4">
                    <div class="project-container p-5
                    outline">
                        <div class="flip-card">
                            <div class="flip-card-inner">
                                <div class="flip-card-front">
                                    <img src="IMG_6355.jpg" alt="random" style="width:220px;height:170px;">
                                </div>
                                <div class="flip-card-back">
                                    <p><%= exam.name %></p> 
                                    <a href="/exam/<%= exam._id %>" class="btn " style="background-color: #53585a;color: #fff;" >Read More</a>
                                </div>
                            </div>
                        </div> 
                        
                    </div>
                    <h4 class="text-capitalize text-center my-2">
                        <div style="margin-top: 30px;">
                        </div>
                    </h4>
                    <h6 class="text-center">
                        
                    </h6>
                </div>
                <!-- single project ends -->
                <% } %>
                <% }) %>

                <!-- single project -->
                <% student.organisations.forEach((organisation) => { %>
                    <% organisation.exams_conducted.forEach((exam) => { %>
                        <% if (!exam.isPublic){ %>
                    <div class="col-10 col-md-6 col-lg-4">
                        <div class="project-container p-5
                        outline">
                            <div class="flip-card">
                                <div class="flip-card-inner">
                                    <div class="flip-card-front">
                                        <img src="IMG_6355.jpg" alt="random" style="width:220px;height:170px;">
                                    </div>
                                    <div class="flip-card-back">
                                        <p><%= exam.name %></p> 
    
                                        <a href="/exam/<%= exam._id %>" class="btn " style="background-color: #53585a;color: #fff;" >Read More</a>
                                    </div>
                                </div>
                            </div> 
                            
                        </div>
                        <h4 class="text-capitalize text-center my-2">
                            <div style="margin-top: 30px;">
                            </div>
                        </h4>
                        <h6 class="text-center">
                            
                        </h6>
                    </div>
                    <!-- single project ends -->
                    <% } %>
                    <% }) %>
                    <% }) %>
            </div>
           
        </div>
    </section>

    
<script>
    let mainNav = document.getElementById('js-menu');
let navBarToggle = document.getElementById('js-navbar-toggle');

navBarToggle.addEventListener('click', function () {
  mainNav.classList.toggle('active');
});
</script>
      
</body>
</html>