
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= exam.name %></title>
    <link rel="stylesheet" href="/stylesheets/viewExam.css">
    <script src="https://kit.fontawesome.com/332a215f17.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>

<body style="background-color: #424242;" >
   
     <nav class="navbar">
        <span class="navbar-toggle" id="js-navbar-toggle">
            <i class="fas fa-bars"></i>
        </span>
        <a href="/student-home/<%= user._id %>" class="logo">Exam Portal</a>
        <ul class="main-nav" style="margin-top: 10px;font-size: 19px;" id="js-menu">
            <li>
                <a href="/student-home/<%= user._id %>" class="nav-links">Home</a>
            </li>
            <li>
                <a href="/<%= user._id %>/myExams" class="nav-links">Registered Exams</a>
            </li>
            <li>
                <a href="/show-registered-organisations" class="nav-links">Registered Organizations</a>
            </li>

        </ul>
    </nav>
<div style="align-items: center;" class="container mt-5">
    <div class="jumbotron align-items-center" style="background-color: #c1d1e1;">
        <h2 style="color: #424242;" class="display-4"><%= exam.name %></h2>
        <h6 style="color: #424242;margin-top: 9px;" class="display-6">Organised By <%= exam.organizer%></h6>

        <hr  style="color: #424242;" class="my-4">
            <div class="row">
                <div class="col-md-8">
                    <b>
                        <!-- <p class="lead">More Information about the Organization</p> -->
                    </b>
                    <p><%= exam.description %></p>
                    <br>
                    <p>Date :<%=exam.date%></p>
                   
                    <p>Exam starts at <%=exam.startTime%> and is of duration <%=exam.duration %></p>
                    <!-- <a href="<%= exam.link %>" class="btn" style="background-color: #e79f39;color: #3e4041;margin-left:5px;padding:5x;margin-top:20px;">Registration Link</a> -->
                    <span>
                    <% if(user.exams.indexOf(exam._id)==-1){ %>
                        <form action="/subscribe/<%= exam._id %>" method="POST">
                            <a href="<%= exam.link %>" class="btn" style="background-color: #e79f39;color: #3e4041;margin-left:2px;padding:5x;margin-top:20px;">Registration Link</a>
                            <button class="btn" style="background-color: #e79f39;color: #3e4041;margin-left:5px;padding:5x;margin-top:20px;" type="submit">Subscribe </button>
                        </form>   
                    <% }else{ %>
                    <form action="/unsubscribe/<%= exam._id %>" method="POST">
                        <!-- <a href="<%= exam.link %>" class="btn" style="background-color: #e79f39;color: #3e4041;margin-left:2px;padding:5x;margin-top:20px;">Registration Link</a> -->
                        <button class="btn" style="background-color: #e79f39;color: #3e4041;margin-left:5px;padding:5x;margin-top:20px;" type="submit">Unsubscribe </button>
                    </form> 
                    <% } %>  
                </span>

                </div>
            
    </div>
</div>
</div>
<script>
    		$(document).ready(function(){
		    $('.count').prop('disabled', true);
   			$(document).on('click','.plus',function(){
				$('.count').val(parseInt($('.count').val()) + 1 );
    		});
        	$(document).on('click','.minus',function(){
    			$('.count').val(parseInt($('.count').val()) - 1 );
    				if ($('.count').val() == 0) {
						$('.count').val(1);
					}
    	    	});
 		});
</script>
</body>

</html>