<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet"href="/stylesheets/tempViewExam.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body style="background-color: #1E2E3D;" >
     <!-- Navbar begins -->
    <nav class="navbar">
        <span class="navbar-toggle" id="js-navbar-toggle">
            <i class="fas fa-bars"></i>
        </span>
        <a href="/student-home/<%= user._id %>" class="logo">Exam Portal</a>
        <ul class="main-nav" style="margin-top: 10px;font-size: 19px;" id="js-menu">
            <li>
                <a href="/student-home/<%= user._id %>" class="nav-links">Home</a>
            </li>
            <li>
                <a href="/<%= user._id %>/myExams" class="nav-links">Registered Exams</a>
            </li>
            <li>
                <a href="/show-registered-organisations" class="nav-links">Registered Organizations</a>
            </li>
            
        </ul>
    </nav>
  <!-- Navbar ends -->
    <section class="project py-5">
        <div class="container">
            <div style="align-items: center;" class="container mt-5">
                <div class="jumbotron align-items-center" style="background-color: #374455; text-align: center;">
                   
                    <h2 style="color: #fff;" class="display-4"><%= exam.name %></h2>
                    <span>
                    <h6 style="color: rgba(255, 255, 255,0.8);margin-top: 9px;" class="display-6">conducted by <%= exam.organizer%></h6>
                   
                    </span>
                    <hr  style="color: #fff;" class="my-4">
                        <div class="row" style="margin: 0 auto">
                            <div style="color:#fff;margin: 0 auto;"  >
                                <p style="margin: 0 80px;"><%= exam.description %></p>
                                <br>
                                <p>Date: <%=exam.startTime.getDate()%>/<%=exam.startTime.getMonth()+1%>/<%=exam.startTime.getFullYear()%></p>
                                <p>Medium:  <%=exam.medium%></p>
                                <p>Exam starts at <%=exam.startTime%> and is of duration <%=exam.duration %></p>
                                <% if(user.exams.indexOf(exam._id)==-1){ %>
                                <form action="/subscribe/<%=exam._id%>" method="post">
                                    <button type="submit" class="btn" style="background-color: #5d8168d9;color: #fff;margin-left:5px;padding:5x;margin-top:20px;margin-left:-3px;margin-right: 20px;">Subscribe</button>
                                    <a href="<%= exam.link %>" class="btn" style="background-color: #5d8168d9;color: #fff;margin-left:5px;padding:5x;margin-top:20px;margin-left:-3px">Registration Link</a>
                                </form>
                                <% }else{ %>
                                    <form action="/unsubscribe/<%= exam._id %>" method="POST">
                                        <button type="submit" class="btn" style="background-color: #5d8168d9;color: #fff;margin-left:5px;padding:5x;margin-top:20px;margin-left:-3px;margin-right: 20px;">Unsubscribe</button>
                                    </form>
                                <% } %>
                            </div>
                            
                        </div>
                      
                        
                </div>
            </div>
            </div>
            </section>
</body>
</html>